//
// Generates the CSS needed for a raster background image with retina support.
// 
// If the image is called 'select-bg.png' then we're expecting another retina
// image with the exact same aspect ratio, twice the size under the filename
// 'select-bg@2x.png'.
// 
// @param $filename string The filename of the low res bg image, without ext.
// @param $ext string The extension of the bg file without the '.'.
// 
// @see $retina_suffix
// 
@mixin loft_images_retina_background($filename, $ext: png) {
  background-image: image_url($filename + '.' + $ext);
  background-size: contain;
  @media #{$loft_images_retina_media_query} {
      background-image: image_url($filename + $loft_images_retina_suffix + '.' + $ext);
  }  
}


// 
// 
// Produce a png icon with retina version when needed.
// 
// Advantage: can use a retina version
// Disadvantage: one extra request because the image can't be inline embedded.
// 
// @see retina_background
// 
@mixin loft_images_retina_icon($filename, $ext: png, $dimensions: null) {
  // $_filename: "#{$filename}.#{ext}";
  $_filename: _loft_images_basename($filename, $ext);

  display: block;
  @include loft_images_dimensions($_filename, $dimensions);  
  background-repeat: no-repeat;
  background-position: center;  
  @include loft_images_retina_background($filename, $ext);
}

// @mixin loft_images_retina_scalable_icon($filename, $ext: png, $dimensions: null) {
//   $_image_path : _loft_images_basename($filename, $ext);
//   $_dimensions: _loft_image_dimensions($_image_path, $dimensions);
//   @debug $_dimensions;
//   $_width      : nth($_dimensions, 1);
//   $_height     : nth($_dimensions, 2);
  
//   width: 100%;
//   @include aspect-ratio($_width, $_height, '>span');
//   &>span>span {
//     @include loft_images_retina_icon($filename, $ext, (100%, 100%));
//     background-size: contain;
//   }
// }

//
//
// Produce a png icon with data uri in the stylesheet (no retina support).
// 
// Advantage: reduces http request by embedding png inline css.
// Disadvantage: cannot use a retina version.
//
// @see svg_icon
//
@mixin loft_images_png_icon($filename, $dimensions: null) {
  $_filename: "#{$filename}.png";
  background: inline-image($_filename, "image/png") no-repeat center;
  display: block;
  @include loft_images_dimensions($_filename, $dimensions);
  background-size: contain;
}

// 
// 
// Produce a png icon with retina version when needed.
// 
// Advantage: can use a retina version
// Disadvantage: one extra request because the image can't be inline embedded.
// 
// @see retina_background
// 
@mixin loft_images_bitmap_icon($filename, $ext: 'gif', $dimensions: null) {
  $_filename: "#{$filename}.#{$ext}";
  display: block;
  @include loft_images_dimensions($_filename, $dimensions);  
  background-repeat: no-repeat;
  background-position: center;  
  background-image: image_url($_filename);
  background-size: contain;
}